.avatar {
    margin: auto;
    transition: all 0.5s;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container {
    width: 40%;
}

.editBtn {
    border: 1px solid;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
}

.editBtn:hover {
    background-color: black;
    color: white;
}