.cartQty {
    width: 50px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    margin-bottom: 0;
    border: none
}

.cartBtn {
    width: 50px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    margin-bottom: 0;
    border: 1 solid black;
}

.cartRemoveBtn {
    position: absolute;
    right: 5%;
}