body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.leaflet-container {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
}

.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.custom-div-icon span {
    position: absolute;
    width: 15px;
    font-size: 15px;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
}

.custom-div-icon i.awesome {
    margin: 12px auto;
    font-size: 17px;
}

.hotel-marker-pin {
    background: #0bc34e;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.hotel-marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    border-radius: 50%;
}

.hotel-custom-div-icon span {
    background: #004f32;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    width: max-content;
    left: 0;
    right: 0;
    margin: 10px auto;
    text-align: center;
    height: fit-content;
    border-radius: 15%;
    color: white;
    padding: 0 6px;
    border: 1px solid white;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 20%);
}

.hotel-custom-div-icon span:hover {
    background-color: white;
    color: #000;
}

.hotel-custom-div-icon i.awesome {
    margin: 12px auto;
    font-size: 17px;
}

.star-ratings {
    top: -4px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}